<ion-header>
    <ion-toolbar>
        <ion-title>Book {{selectedPlace.title}}</ion-title>
        <ion-buttons slot="primary" (click)="onCancel()">
            <ion-icon name="close"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content text-center>
<ion-grid margin="0px;">
    <ion-row>
        <ion-col size="12" sizeSm="6" offsetSm="3">
            <ion-list>
                <ion-item>
                    <ion-img [src]="selectedPlace.imageUrl" display="block"></ion-img>
                </ion-item>
                <ion-item>
                    <p>{{selectedPlace.description}}</p>
                    <ion-button color="primary" (click)="onBook()" margin>Book</ion-button>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>

</ion-content>